- var here = 'guides'
- var uri = '/guides/'
- var title = 'Guides'

mixin body
  .pt-3.mx-5.pb-5(style='flex:1')
    h3.text-center.my-4= t.title
    p
      span.h5= t.hackless.title
      span  NTSC
    p
      each line in t.hackless.text
        | #{line}
        br
    .w-100.text-center
      a.btn.btn-primary.my-2(href=lpath + '/guides/hackless/')= t.hackless.button
    p
      span.h5= t.homebrew.title
      span  NTSC
    p
      each line in t.homebrew.text
        | #{line}
        br
    .w-100.text-center
      a.btn.btn-primary.my-2(href=lpath + '/guides/homebrew/')= t.homebrew.button
    p
      span.h5= t.usbloading.title
      span= ' ' + t.usbloading.region
    p
      each line in t.usbloading.text
        | #{line}
        br
    .w-100.text-center
      a.btn.btn-primary.my-2(href=lpath + '/guides/usbloading/')= t.usbloading.button

include /modules/main.pug