mixin header(th, here)
  - var i = {}
  if here
    - i[here] = 'active'
    //- if here = 'home', then this makes i.home = 'active'
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark

      a#logo(href=`${lcode}/`)
        img(src="/assets/logosmall.png" height="45px")
      // this is for bundling the dropdown toggle menu and the language note to the right
      .d-flex.justify-content-end
        span#language-note.nav-link Change language &rarr;
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon

      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=`${lcode}/` class=i.home)= th.home
          li.nav-item
            a.nav-link(href=`${lcode}/guides/` class=i.guides)= th.guides
          li.nav-item
            a.nav-link(href=`${lcode}/faq` class=i.faq)= th.faq
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= th.wiki
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href=`${lcode}/wiki/projectm`)= th.project
              a.dropdown-item(href=`${lcode}/wiki/softmodding`)= th.softmodding
              a.dropdown-item(href=`${lcode}/wiki/wiimodels`)= th.wiimodels
              a.dropdown-item(href=`${lcode}/wiki/homebrewapps`)= th.homebrewapps
              a.dropdown-item(href=`${lcode}/wiki/brickprotection`)= th.brickprotection
              a.dropdown-item(href=`${lcode}/wiki/exploits`)= th.exploits
              a.dropdown-item(href=`${lcode}/wiki/palvsntsc`)= th.palvsntsc
          li.nav-item
            a.nav-link(href=`${lcode}/contact`)= th.contact
          li.nav-item
            a.nav-link(href=`${lcode}/about`)= th.about
            
        ul#langdropdown.navbar-nav.mr-auto
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= th['language-dropdown']
          .dropdown-menu(aria-labelledby='navbarDropdown')
            // a.dropdown-item(href=`/da${uri}`) Dansk
            // a.dropdown-item(href=`/nl${uri}`) Nederlands
            a.dropdown-item(href=`${uri}`) English
            // a.dropdown-item(href=`/fi${uri}`) Suomi
            // a.dropdown-item(href=`/fr${uri}`) Français
            a.dropdown-item(href=`/de${uri}`) Deutsch
            // a.dropdown-item(href=`/it${uri}`) Italiano
            // a.dropdown-item(href=`/es${uri}`) Español
            // a.dropdown-item(href=`/sv${uri}`) Svenska