- var here = 'projectm'
- var uri = '/wiki/projectm/'
- var title = t.title

mixin body
  #pagecontent.p-3(style='flex:1')
    h3.text-center.my-4!= sd(t.headline)
    div
      blockquote.blockquote
        p.mb-0!= sd(t.quote)
        footer.blockquote-footer.text-right!= sd(t["quote-author"])
    p!= sd(t.description)
    .row.youtube_row
      .col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://www.youtube.com/embed/Wa80vYApInc")
      .col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://www.youtube.com/embed/OmUH5rmZyps")
    p!= sd(t["sub-text"])

include /modules/main.pug