- var here = 'about'
- var uri = '/about/'
- var title = t.title

mixin body
  #pagecontent.p-3.p-md-4.p-lg-5(style='flex:1')
    h5= t.about
    p!= sd(t.lines.shift())
    br
    p
      span!= sd(t.lines.shift())
      br
      span!= sd(t.lines.shift())
    br
    p!= sd(t.lines.shift())
    p!= sd(t.lines.shift())

include /modules/main.pug